# 对所有文件有效
[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4

# 对后缀名为vue的文件有效
[*.vue]
indent_style=space
indent_size=4

# 对.analysis_options文件以及后缀名为yml和yaml文件有效
[{.analysis_options,*.yml,*.yaml}]
indent_style=space
indent_size=4

# 对后缀名为js,jsx,ts,tsx的文件有效，也可以写成[{*.js, *.jsx, *.ts, *.tsx}],相同的部分*.可以提出去
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
